#carouselHome {
		/*-webkit-transition: all 0.2s ease!important;
		-moz-transition: all 0.2s ease!important;
		-o-transition: all 0.2s ease!important;
		transition: all 0.2s ease!important;*/
		transition: box-shadow 600ms ease, transform 600ms ease, z-index 600ms ease!important;
		box-shadow: 0px 28px 81px -7px rgba(0, 0, 0, 0)!important;
		z-index: 50!important;
}

#carouselHome:hover {
		z-index: 100!important;
		/*box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0!important;
		-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0!important;
		-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0!important;*/
		transform: scale(1.05)!important;
		box-shadow: 0px 28px 81px -7px rgba(0, 0, 0, 0.44)!important;
}

#HomeRecommendations {
		transition: all 0.1s ease 0s!important;
}

#HomeRecommendations:hover {
		transform: translateY(-3px)!important;
}

.ui.huge.header {
		min-height: 1em!important;
		font-size: 2.5em!important;
		font-weight: 100!important;
}

.ui.medium.header {
		font-weight: 100!important;
}

.ui.card>.content, .ui.cards>.card>.content, .ui.card>.extra, .ui.cards>.card>.extra {
		border-top: 1px solid rgba(0, 0, 0, 0)!important;
}


/* Make clicks pass-through */

#nprogress {
		pointer-events: none;
}

#nprogress .bar {
		background: #F2711C;
		position: fixed;
		z-index: 1031;
		top: 0;
		left: 0;
		width: 100%;
		height: 3px;
}


/* Fancy blur effect */

#nprogress .peg {
		display: block;
		position: absolute;
		right: 0px;
		width: 100px;
		height: 100%;
		box-shadow: 0 0 10px #F2711C, 0 0 5px #F2711C;
		opacity: 1.0;
		-webkit-transform: rotate(3deg) translate(0px, -4px);
		-ms-transform: rotate(3deg) translate(0px, -4px);
		transform: rotate(3deg) translate(0px, -4px);
}


/* Remove these to get rid of the spinner */

#nprogress .spinner {
		display: block;
		position: fixed;
		z-index: 1031;
		top: 15px;
		right: 15px;
}

#nprogress .spinner-icon {
		width: 18px;
		height: 18px;
		box-sizing: border-box;
		border: solid 3px transparent;
		border-top-color: #F2711C;
		border-left-color: #F2711C;
		border-radius: 50%;
		-webkit-animation: nprogress-spinner 400ms linear infinite;
		animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
		overflow: hidden;
		position: relative;
}

.nprogress-custom-parent #nprogress .spinner, .nprogress-custom-parent #nprogress .bar {
		position: absolute;
}

@-webkit-keyframes nprogress-spinner {
		0% {
				-webkit-transform: rotate(0deg);
		}
		100% {
				-webkit-transform: rotate(360deg);
		}
}

@keyframes nprogress-spinner {
		0% {
				transform: rotate(0deg);
		}
		100% {
				transform: rotate(360deg);
		}
}

.GridSearch div input {
		border-radius: 0rem!important;
}

.NavSearchStyle div input {
		border-radius: 0rem!important;
		color: #000 !important;
		width: 60vw;
		font-size: 1.8rem;
		font-weight: 100;
		margin-left: 0.8rem!important;
		cursor: pointer!important;
		/*width: 40vw;*/
}

.NavSearchStyle div input::-webkit-input-placeholder {
		color: rgba(0, 0, 0, 0.9) !important;
		transform: scale(1);
		transition: .4s all ease !important;
		padding-left: 0.5rem !important;
}

.NavSearchStyle div input:hover::-webkit-input-placeholder {
		color: rgba(0, 0, 0, 0.5) !important;
		padding-left: 0rem !important;
}

.NavSearchFocusStyle div input {
		border-radius: 0rem!important;
		color: rgba(0, 0, 0, 0.9)!important;
		width: 60vw;
		font-size: 1.8rem;
		font-weight: 100;
		margin-left: 0.8rem!important;
		/*width: 40vw;*/
}

.NavSearchStyleRoot div input {
		border-radius: 0rem!important;
		color: #FFF !important;
		width: 60vw;
		font-size: 1.8rem;
		font-weight: 100;
		margin-left: 0.8rem!important;
		cursor: pointer!important;
		/*width: 40vw;*/
}

.NavSearchStyleRoot div input::-webkit-input-placeholder {
		color: rgba(255, 255, 255, 0.9) !important;
		transform: scale(1);
		transition: .4s all ease !important;
		padding-left: 0.5rem !important;
}

.NavSearchStyleRoot div input:hover::-webkit-input-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
		padding-left: 0rem !important;
}

.InterestItem {
		color: rgba(0, 0, 0, 0.8)!important;
		-webkit-transition: transform .5s;
		-moz-transition: transform .5s;
		-o-transition: transform .5s;
		transition: transform .5s;
		font-size: 1.1em!important;
}

.InterestItem:hover {
		/* transform: scale(1.1); */
}


.NavLinkRoot {
		margin: 0px!important;
		padding: 0px!important;
		margin-right: 24px!important;
		color: #FFF!important;
		font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
		font-weight: 900!important;
		font-size: 12px!important;
		transition: color .4s!important;
		text-transform: uppercase!important;
		background: rgba(255, 255, 255, 0)!important;
}

.NavLinkRoot .active {
	color: rgba(255, 255, 255, 0.7)!important;
	background: rgba(255, 255, 255, 0)!important;
}

.NavLinkRoot:hover {
	color: rgba(255, 255, 255, 0.7)!important;
	background: rgba(255, 255, 255, 0)!important;
	/*transform: scale(1.05)!important;*/
}

.NavLink {
		margin: 0px!important;
		padding: 0px!important;
		margin-right: 24px!important;
	    color: rgba(50,50,50,0.7) !important;
		font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
		font-weight: 900!important;
		font-size: 12px!important;
	    letter-spacing: 0.4px !important;
	    line-height: 16px !important;
		transition: color .4s!important;
		text-transform: uppercase!important;
		background: rgba(255, 255, 255, 0)!important;
}

a .NavLink .active {
    color: rgba(50,50,50,1) !important;
	background: rgba(0, 0, 0, 0)!important;
}

.NavLink:hover {
    color: rgba(50,50,50,1) !important;
	background: rgba(0, 0, 0, 0)!important;
	/*transform: scale(1.05)!important;*/
}


.LogoHeaderFooter {
		font-family: 'Josefin Sans', sans-serif !important;
		font-weight: 900!important;
		letter-spacing: 0.06rem !important;
		font-size: 2.5rem!important;
		color: rgba(0, 0, 0, 0.8)!important;
}

.LogoHeader {
		font-family: 'Josefin Sans', sans-serif !important;
		font-weight: 900!important;
		letter-spacing: 0.06rem !important;
		font-size: 2.5rem!important;
		color: #F2711C!important;
}

.LogoHeaderRoot {
		font-family: 'Josefin Sans', sans-serif !important;
		font-weight: 900!important;
		letter-spacing: 0.06rem !important;
		font-size: 2.5rem!important;
		color: #FFF!important;
}

.TopBarMenu {
		border-width: 0px!important;
		border-color: rgba(34, 36, 38, 0)!important;
}

.deck {
		opacity: 1!important;
		height: 100vh!important;
		margin-bottom: -100vh !important;
		overflow: hidden !important;
		z-index: 801!important;
		transition: opacity 1s ease-in-out!important;
}

.deckBlur {
		opacity: 0.3!important;
}

.deck .slide {
		overflow: hidden !important;
}

.core {
		background-color: #FFF;
		opacity: 1;
		height: 100vh!important;
		background-size: cover!important;
		background-repeat: no-repeat!important;
		background-position: center bottom!important;
		/*display: flex!important;*/
		/*justify-content: center!important;*/
		align-items: center!important;
		transition: opacity 10s ease-in-out;
		transition: transform 10s ease-in-out;
		overflow: hidden !important;
}

.coreActive {
		transform: scale(1.1);
}

.hands {
		height: 100vh !important;
		/*color: #FFF !important;*/
		position: relative !important;
		z-index: 803!important;
		margin-left: 0em!important;
		margin-right: 0em!important;
}

.SliderMenu {
		border-color: rgba(255, 255, 255, 0) !important;
		margin-bottom: 2rem !important;
}

.SliderMenu .item {
		border-top-color: rgba(255, 255, 255, 0.3)!important;
		border-top-style: solid !important;
		border-bottom-style: none !important;
		border-top-width: 0.05em !important;
		border-bottom-width: 0px !important;
}

.SliderMenu .active {
		border-top-color: #FFF!important;
		border-top-style: solid !important;
		border-bottom-style: none !important;
		border-top-width: 0.25em !important;
		border-bottom-width: 0px !important;
}

.SliderNav {
		font-size: 1.3rem!important;
		margin-top: 1.5rem !important;
}

.SlideTextStyle {
		font-weight: 600;
		font-size: calc(11px + 2vw) !important;
		color: #FFF!important;
		line-height: initial!important;
		margin-bottom: 0.2em!important;
}

.SlideText {
		height: 10rem!important;
		mar
}

.SlideKnowMore {
		font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
		color: rgba(255, 255, 255, 0.8)!important;
		font-weight: 900!important;
		text-transform: uppercase!important;
		font-size: 0.8em!important;
		cursor: pointer!important;
		transition: all .4s!important;
}

.GridMenu {
		background: #FFF!important;
		border: 0.5px solid rgba(34, 36, 38, .1)!important;
		border-radius: .28571429rem!important;
		padding-left: 0.3em!important;
}

.GridMenu .item::before {
		background: rgba(0, 0, 0, .08)!important;
}

.SlideKnowMore:hover {
		color: rgba(255, 255, 255, 1)!important;
		padding-left: 0.5em!important;
}

.TopLevelFluid {
		margin-left: 0em!important;
		margin-right: 0em!important;
		background-color: #444;
}

.HeadShadow {
		background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.45) 20%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 100%)!important;
		/* FF3.6-25 */
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.45) 20%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 100%)!important;
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 20%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 100%)!important;
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.HeadShadowTile {
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.17) 5%, rgba(0, 0, 0, 0.12) 10%, rgba(0, 0, 0, 0.08) 30%, rgba(0, 0, 0, 0) 100%)!important;
}

.BottomShadowTile {
		borderTop: 0px!important;
		background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 5%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 100%)!important;
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.slick-slide {
		/*margin-left: 10px!important;*/
}

.slick-track {
		margin-bottom: 100px!important;
		margin-top: 50px!important;
}

.sliderGutter {
		padding: 10px!important;
}

.BottomShadow {
		height: 10rem!important;
		margin-top: -10rem!important;
		position: relative !important;
		z-index: 802 !important;
		background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.45) 20%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 100%)!important;
		/* FF3.6-25 */
		background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.45) 20%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 100%)!important;
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to top, rgba(0, 0, 0, 0.45) 20%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 100%)!important;
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.ClearFilterItemStyle::before {
	background: rgba(0, 0, 0, 0)!important;
}